---
type: tag
tag: security-verification
updated: 2026-05-04
---

## Security Verification

- [[../sources/fxa301-week08-web-article-carroll-2005|Browser Check for PMCID: PMC1142208]]
