---
type: tag
tag: security-verification
updated: 2026-09-07
---

## Security Verification

- [Browser Check for PMCID: PMC1142208](../sources/fxa301-week08-web-article-carroll-2005.md)
